@media (max-width: 767px) {

	#wrapper_end {
		width: 18em;
		top: 84%;
	}

	#spin {
		font-size: 0.8em;
		box-shadow: 0 0 0 3px currentColor
	}

	#spin::after {
		content: '';
		position: absolute;
		top: -9px;
		border: 8px solid transparent;
		border-bottom-color: currentColor;
		border-top: none;
	}

	#wheelfortune {
		transform: scale(1.3);
		transform-origin: center center;
		padding: 0em;
    }
  }